In [2]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [3]:
"서울" in cities

True

In [5]:
# 리스트 추가
cities.extend(['순천','여수'])

In [6]:
cities

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원', '순천', '여수']

In [8]:
# 리스트 삭제
del cities[0]
# cities.remove("서울")

In [9]:
a = [5,4,3,2,1]
b = [1,2,3,4,5]
b=a
b
# b와 a가 가리키는 리스트 주소값이 동일

[5, 4, 3, 2, 1]

In [10]:
a.sort()

In [11]:
b
# a를 sort해도 주소값이 동일하기 때문에 b 출력값 역시 sort된 값

[1, 2, 3, 4, 5]

In [12]:
# 패킹과 언패킹

# 1,2,3을 변수 t에 패킹
t=[1,2,3]

# a=1, b=2, c=3으로 언패킹

a,b,c = t

print(a,b,c)

1 2 3

In [13]:
# old school formatting


#1
print('%d %d' % (1,2))

#2
print('{} {}'.format(1,2))

1 2
1 2

In [14]:
print("I eat %d apples." % 3)
print("I eat %s apples." % "five")

I eat 3 apples.
I eat five apples.

In [16]:
# str.format() 함수

age = 36; name="Sungchul Choi"

print("I'm {0} years old".format(age))
print("My name is {0} and {1} years old".format(name, age))

I'm 36 years old
My name is Sungchul Choi and 36 years old

In [27]:
# f-string

print(f'{name:20}')
print(f'{name:>20}')
print(f'{name:*<20}')
print(f'{name:*>20}')
print(f'{name:*^20}')

number = 3.14523

print(f'{number:*<10.2f}')

Sungchul Choi
       Sungchul Choi
Sungchul Choi*******
*******Sungchul Choi
***Sungchul Choi****
3.15******

In [30]:
a = 10
a = float(a)
type(a)

float

In [1]:
# 한줄 if문

value = 12

is_even = True if value % 2 == 0 else False

print(is_even)

True

In [2]:
# all, any 연산자

boolean_list = [True, False]

all(boolean_list)

False

In [3]:
any(boolean_list)

True

In [4]:
# 반복문

# for loop

for i in [1,2,3,4,5] :
    print(f"{i} : Hello")

1 : Hello
2 : Hello
3 : Hello
4 : Hello
5 : Hello

In [6]:
# range

# list(range(0,5)) = [0,1,2,3,4] 를 의미
for i in range(0,5) :
    print(f"{i} : Hello")

0 : Hello
1 : Hello
2 : Hello
3 : Hello
4 : Hello

In [7]:
# for문 문자열

for i in "abcdefg" :
    print(i)

a
b
c
d
e
f
g

In [8]:
for i in ["ab", "cd", "ef"] :
    print(i)

ab
cd
ef

In [9]:
# for문 간격 세기, 역순

# 간격 세기

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [10]:
# 역순 세기

for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [11]:
# while문
# 조건이 만족하는 동안 반복 명령문 실행

# 먼저 i에 1 할당
i = 1

while i <10 :
    print(i)
    # i를 1씩 증가
    i+=1

1
2
3
4
5
6
7
8
9

In [12]:
# 반복의 제어 - break, continue

# break

for i in range(10) :
    if i == 5 :
        break
    print(i)
print("EOP")

0
1
2
3
4
EOP

In [13]:
# continue

for i in range(10) :
    if i == 5 :
        continue
    print(i)
print("EOP")

0
1
2
3
4
6
7
8
9
EOP

In [16]:
# loop review

# for문

sen = "I love you"
rev_sen = ""

for i in sen :
    print("Review #1 ", rev_sen)
    rev_sen = i + rev_sen
    print("Review #2 ", rev_sen)

Review #1
Review #2  I
Review #1  I
Review #2   I
Review #1   I
Review #2  l I
Review #1  l I
Review #2  ol I
Review #1  ol I
Review #2  vol I
Review #1  vol I
Review #2  evol I
Review #1  evol I
Review #2   evol I
Review #1   evol I
Review #2  y evol I
Review #1  y evol I
Review #2  oy evol I
Review #1  oy evol I
Review #2  uoy evol I

In [18]:
# while문

decimal = int(input("십진수를 입력하시오 : "))

result = ""

while decimal > 0 :
    remainder = decimal % 2
    decimal = decimal // 2
    result = str(remainder) + result
    print(f"decimal : {decimal}")
    print(f"remainder : {remainder}")
print(result)

십진수를 입력하시오 : 10
decimal : 5
remainder : 0
decimal : 2
remainder : 1
decimal : 1
remainder : 0
decimal : 0
remainder : 1
1010

In [1]:
# 예시

ans = int(input("숫자를 입력하시오 : "))

숫자를 입력하시오 : 48

In [6]:
num = int(input("숫자를 맞춰보세요(1 ~ 100) "))

while num != ans :
    if num > ans :
        num = int(input("숫자가 너무 큽니다 "))
    elif num < ans :
        num = int(input("숫자가 너무 작습니다 "))
print(f"정답입니다. 입력한 숫자는 {ans} 입니다.")

숫자를 맞춰보세요(1 ~ 100) 50
숫자가 너무 큽니다 40
숫자가 너무 작습니다 30
숫자가 너무 작습니다 48
정답입니다. 입력한 숫자는 48 입니다.

In [10]:
# 이차원 리스트 처리 예시
# 다시 풀어보기

kor_score = [49, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79, 48, 60, 100]
midterm_score = [kor_score, math_score, eng_score]

student_score = [0 ,0 ,0 , 0, 0]

i = 0

for subject_score in midterm_score :
    for personal_score in subject_score :
        student_score[i] += personal_score
        i+=1
    i = 0

a, b, c, d, e = student_score

i = 0

avg_score = [a/3, b/3, c/3, d/3, e/3]

for value in avg_score :
    print(f"{i}번째 학생의 평균은 : {value} 입니다")
    i+=1

0번째 학생의 평균은 : 47.0 입니다
1번째 학생의 평균은 : 72.33333333333333 입니다
2번째 학생의 평균은 : 51.0 입니다
3번째 학생의 평균은 : 63.333333333333336 입니다
4번째 학생의 평균은 : 90.0 입니다

In [1]:
# int 

# 4바이트 할당 : -2^31 ~ 2^31-1

# float

# 8바이트 할당

# string

# string 1개당 1byte 할당
# 2진수를 문자로 변환하는 표준규칙에 따라 string이 컴퓨터에 2진수형태로 변환

In [3]:
# indexing

a = "abcde"

print(a[0],a[4])

print(a[-1])

a e
e

In [5]:
# slicing

text = "Artificial Intelligence and Machile Learning"

print(text[0:6])

print(text[-8])

print(text[:-8])

print(text[::2])

print(text[::-1])

Artifi
L
Artificial Intelligence and Machile
Atfca nelgneadMcieLann
gninraeL elihcaM dna ecnegilletnI laicifitrA

In [9]:
# string function

title = "TEAMLAB X Upstage"

title.upper()

'TEAMLAB X UPSTAGE'

In [10]:
title.lower()

'teamlab x upstage'

In [11]:
title.split(" ")

['TEAMLAB', 'X', 'Upstage']

In [17]:
"12345".isdigit()

True

In [13]:
title.startswith("T")

True

In [14]:
title.count("A")

2

In [16]:
title.upper().count("a")

0

In [21]:
# 여러 줄 쓰기

# 1. \n 사용

b = "Happy New Year\nThis is a class"

print(b)

# 2. """""" 사용
a = """Happy New Year
This is a class"""

print(a)

Happy New Year
This is a class
Happy New Year
This is a class

In [22]:
# 함수 호출 방식 개요
# 함수에서 parameter를 전달하는 방식

# 1) 값에 의한 호출
# 인자를 넘길때 값만 넘김

# 2) 참조에 의한 호출
# 인자를 넘길때 메모리 주소를 넘김

# 중요
# 3) 객체 참조에 의한 호출
# 객체의 주소가 함수로 전달되는 방식

In [24]:
def spam(eggs):
    eggs.append(1) # 기존 객체의 주소값에 [1] 추가
    eggs =[2,3] # 새로운 객체 생성 
    print(eggs)

ham = [0] # ham은 [0]의 주소값을 가리킨다
spam(ham) 

print(ham)

[2, 3]
[0, 1]

In [34]:
# 예시 swap

def swap_value(x,y) : 
    temp = x
    x = y
    y = temp
    
def swap_offset(offset_x, offset_y) :
    temp = ex[offset_x]
    ex[offset_x] = ex[offset_y]
    ex[offset_y] = temp
    
def swap_reference (list_ex, offset_x, offset_y) :
    temp_list = list_ex[:]
    temp = list_ex[offset_x]
    list_ex[offset_x] = list_ex[offset_y]
    list_ex[offset_y] = temp

In [27]:
ex = [1,2,3,4,5]

# 1
swap_value(ex[0],ex[1])
# 주소값만 바뀌게 된다

ex
# ex 자체에는 해당이 안되는 함수임

[1, 2, 3, 4, 5]

In [30]:
# 2
swap_offset(0,1)

ex
# ex 자체에 해당이 되는 함수임

[2, 1, 3, 4, 5]

In [33]:
# 3

# list까지 넣어준 함수로서 어디에든 사용할 수 있는 완전체 함수
swap_reference(ex,3,4)

ex

[2, 1, 3, 5, 4]

In [36]:
# 변수의 범위

def test(t) : # t는 local variable (지역변수)
    print(x)
    t = 20 # t는 함수 내에서만 사용
    print("In Function : ",t)

x = 10 # x는 global variable (전역변수)
# x는 프로그램 전체에서 사용

test(x)

# print(t)를 실행하면 t는 함수밖에 없는 변수이므로 오류 발생

10
In Function :  20

In [37]:
# 함수 내에 전역 변수와 같은 이름의 변수를 선언하면 새로운 지역 변수가 생김

def f():
    s = "I love London!" # 이 s는 새로운 지역변수임
    print(s)
    
s = "I love Paris"
f()
print(s)

I love London!
I love Paris

In [39]:
def f():
    global s # 전역 변수를 함수 내 사용 시 선언해줘야한다.
    s = "I love London!" # 이 s는 새로운 지역변수임
    print(s)
    
f()
print(s)

I love London!
I love London!

In [40]:
# recursive Function

# 자기자신을 호출하는 함수

# ex

def factorial(n):
    if n == 1 :
        return 1
    else :
        return n * factorial(n-1)
    
print(factorial(int(input("Input Number for Factorial Calculation: " ))))

Input Number for Factorial Calculation: 5
120

In [41]:
# 함수 작성 가이드 라인

# 함수는 가능하면 짧게 작성

# 함수 이름에 역할, 의도를 명확히 들어낼 것

# 하나의 함수에는 유사한 역할을 하는 코드만 포함

# 인자로 받은 값 자체를 바꾸진 말 것 (임시 변수 선언을 하라!)

# 함수를 사용할 때 doc string으로 함수에 대한 설명 적어놓는 습관 들여놓기



# vscode에서 ctrl + shift + p -> doctstring 검색으로 작성